<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body ng-app="theApp">
  Lister:
<div ng-controller='mainControl'>
  <input ng-model='listItem' type="text">
  <button ng-click='newListItem()'></button>
  <div ng-click='sorter()' ng-repeat='(key,value) in list'>
    {{key}}
  </div>
  <div ng-repeat='obj in list | orderBy:{{orderbythis}} track by $index' class='row' id='{{obj._id}}'>
    <div>{{obj.listItem}}</div>
    <div ng-click='delete()'>Delete</div>
    <div ng-click='edit()'>Edit</div>
  </div>


</div>

</body>
</html>
