<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src='/bower_components/angular-ui-router/release/angular-ui-router.js'></script>
  '></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/js/moduel.js"></script>
</head>
<body ng-app="theApp">
  Lister:
<div ng-controller='mainControl'>
  <input ng-model='listItem' type="text">
  <button ng-click='newListItem()'></button>
  <div ng-click='sorter()' ng-repeat='(key,value) in list'>
    {{key}}
  </div>
  <div ng-repeat='obj in list | orderBy:{{orderbythis}} track by $index' class='row' id='{{obj._id}}'>
    <div>{{obj.listItem}}</div>
    <div ng-click='delete()'>Delete</div>
    <div ng-click='edit()'>Edit</div>
  </div>


</div>

</body>
</html>
